# liens

FRONTEND_BASE_URL=

# database

DATABASE_HOSTNAME=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USERNAME=
SECRET_KEY=
ALGORYTHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# email

FROM_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
